html,
body {
  margin: 10;
  padding: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 420px;
  width: 420px;
  /* 28 15X15px squares*/
  border: 1px solid black;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background: blue;
}

.power-pellet {
  background: green;
  border-radius: 7.5px;
}

.pacman {
  background-color: yellow;
  border-radius: 7.5px;
}
